/src/NNS.dll
/src/partial_moments_rcpp.o
/src/RcppExports.o
/src/RcppExports.cpp
/src/init.o
/src/init.c
/src-i386
/src-x64
/tests/testthat/*.pdf
/.Rproj.user
/.RData
/.Rhistory
/NNS.Rproj
